streamlit # Streamlit is an open-source Python library that makes it easy to create and share beautiful, custom web apps for machine learning and data science. In just a few minutes you can build and deploy powerful data apps - so let's get started!
pandas # Pandas is a powerful and flexible open-source data analysis and manipulation library for Python. It provides data structures like DataFrames and Series, which allow you to easily handle and analyze structured data. With its rich set of functions and tools, Pandas is widely used for data cleaning, transformation, and analysis in various fields such as finance, research, and machine learning.